    html {
        height: 100%;
    }
    
    body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../imagenes/fondo.png");
    background-size: cover;
    color: #fff;
    scroll-behavior: smooth;
  }

  section {
    background-color: #13063c;
    box-shadow: #28284f;
    border-radius: 8px;
    padding: 0.5em 0;
    margin: auto;
  }

  article {
    background-color: #172347;
    box-shadow: #fde9f4;
    color: #f9f9f9;
    border-radius: 8px;
    padding: 2em;
    margin: auto;
  }


  
  section.container-fluid {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 15%, rgba(29,191,253,1) 48%, rgba(69,252,176,1) 100%);
  }

  h2 {
    text-align: center;
    padding: 1em;
  }
/* ----------------------------------------------------------------*/

  /* Estilos para el menú de navegación */
  .navbar {
    opacity: 0.5;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }

  a:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: rgb(13, 218, 241);
  }
/* ----------------------------------------------------------------*/

  /* Estilos para el footer */
  footer {
    background-color: #080832;
    opacity: 0.5;
    padding: 2em;
  }

  .text-body-secondary {
    color: #fff !important;
  }
/* ----------------------------------------------------------------*/  

/* Estilos para la sección de la portada */
  .img-hero {
    background-image: url("../imagenes/banner-moon-music.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .borroso {
    backdrop-filter: blur(4px) saturate(102%);
    -webkit-backdrop-filter: blur(4px) saturate(102%);
    background-color: rgba(0, 0, 5, 0.45);
    border-radius: 12px;
  }

  .mask {
    padding: 2em;
  }
/* ----------------------------------------------------------------*/

/* estilos para la biblioteca js swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  /* Estilos para la info de la banda */
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("../imagenes/coldplay1.jpg");
  }

  .swiper-slide .title {
    font-size: 1.563rem;
    padding: 0 0 0 2em;
  }

  .swiper-slide .text {
    font-size: 0.875rem;
    max-width: 1200px;
    line-height: 1.3;
    padding: 1em 3em 1em 3em;
    text-align: justify;
    word-break: break-word;
    overflow: hidden;
    text-shadow: #28284f 0px 5px 15px;
  }

  
/* ----------------------------------------------------------------*/
  
  /* Estilos para las cards de álbunes */
.album-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #28284f;
  }
  
  .album-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para los títulos dentro de las card */
  .album-card .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
/* ----------------------------------------------------------------*/

/* Estilos para el formulario de contacto */
legend {
  font-weight: bold;
  color: #333;
}

label {
  font-weight: bold;
  padding: 0.5em;
}

form .form-control {
  border: 2px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

form .form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

.invalid-feedback, .valid-feedback {
  font-size: 0.9rem;
  color: #6c757d;
}

textarea {
  resize: none;
}

/*----------------------------------------------------------------*/

/* Estilos para las páginas de álbunes */

.p-parachutes {
  background-image: url("../discografia/parachutes/imagenes/parachutes.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-xy {
  background-image: url("../discografia/xy/imagenes/x-y.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-viva {
  background-image: url("../discografia/viva-la-vida-or-death-and-all-his-friends/imagenes/viva-la-vida.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-prospekts {
  background-image: url("../discografia/prospekts-march/imagenes/prospekts-march.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-myloxyloto {
  background-image: url("../discografia/mylo-xyloto/imagenes/mylo-xyloto.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-spheres {
  background-image: url("../discografia/music-of-the-spheres/imagenes/music-of-the-spheres.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-moonmusic {
  background-image: url("../discografia/moon-music/imagenes/moon-music.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-buenosaires {
  background-image: url("../discografia/live-in-buenos-aires/imagenes/live-in-buenos-aires.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-live2012 {
  background-image: url("../discografia/live-2012/imagenes/live-2012.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-live2003 {
  background-image: url("../discografia/live-2003/imagenes/live-2003.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-leftright {
  background-image: url("../discografia/leftrightleftrightleft/imagenes/left-right-left-right-left.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-kaleidoscope {
  background-image: url("../discografia/kaleidoscope-ep/imagenes/kaleidoscope.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-live2014 {
  background-image: url("../discografia/ghost-stories-live-2014/imagenes/ghost-stories-live.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-ghoststories { 
  background-image: url("../discografia/ghost-stories/imagenes/ghost-stories.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-everydaylife {
  background-image: url("../discografia/everyday-life/imagenes/everyday-liffe.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-arush {
  background-image: url("../discografia/a-rush-of-blood-to-the-head/imagenes/a-rush-of-blood-to-the-head.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-fullofdreams {
  background-image: url("../discografia/a-head-full-of-dreams/imagenes/a-head-full-of-dreams.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*----------------------------------------------------------------*/

  @media (max-width: 576px) {
    .album-card {
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .swiper-slide .text {
      font-size: 1.25rem;
      justify-content: left;
      padding: 3em 5em 0 3em;
      margin: 0 5em 0 0;
    }
  }
